# Google App Engine generated folder
appengine-generated/

.idea
Blockchaindata/.idea
SimplifiedInputsList/.idea
Blocklinker/.idea
ProportionalRandom/.idea
Bitvoter/.idea
HDForwarder/.idea
DistributeBTC/.idea
BitcoinWells/.idea

*.pyc

TestSpell.py
Demo_Blockchaindata.py
Demo_SimplifiedInputsList.py
Demo_Blocklinker.py
Demo_ProportionalRandom.py
Demo_Bitvoter.py
Demo_HDForwarder.py
Demo_DistributeBTC.py
Demo_BitcoinWells.py
